<div class="col-md-8 col-xl-6 middle-wrapper">
  <div class="row">
    <% @all_posts.each do |post| %>
      <%= render "shared/post", post: post %>
    <% end %>
    <%= will_paginate @all_posts %>
    <% if @all_posts.length == 0 %>
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-header">
            No data to show
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
