<div class="d-none d-xl-block col-xl-3 right-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">latest video</h6>
            <div class="latest-photos">
              <div class="row">
                <% @all_posts.limit(3).each do |post| %>
                  <div class="col-12">
                    <iframe class="w-100"
                      src="<%= post.link_youtube %>">
                    </iframe>
                  </div>
                  <hr />
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
