<div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
  <div class="card rounded">
    <div class="card-body">
      <p class="text-center">Hope you enjoy the Funny Movies was shared here.</p>
      <% if user_signed_in? %>
        <div class="mt-3">
          <label class="tx-11 font-weight-bold mb-0 text-uppercase">Name:</label>
          <p class="text-muted"><%= current_user.name %></p>
        </div>
        <div class="mt-3">
          <label class="tx-11 font-weight-bold mb-0 text-uppercase">Follow info:</label>
          <%= render 'shared/stats' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
